.burgermenu {
	position: absolute;
	top: 25px;
	right: 30px;
	height: 20px;
	cursor: pointer; }
	.burgermenu .bars1, .burgermenu .bars2, .burgermenu .bars3 {
		width: 30px;
		border-radius: 2px;
		height: 3px;
		margin-bottom: 5px;
		background-color: #fff;
		position: relative;
		top: 0;
		transition: all 0.25s ease; }
	.burgermenu .close1 {
		transform: rotate(45deg);
		top: 6.5px; }
	.burgermenu .close2 {
		transform: scaleX(0); }
	.burgermenu .close3 {
		transform: rotate(-45deg);
		top: -9.5px; }
