.burgermenu {
	position: absolute;
	top: 25px;
	right: 30px;
	height: 20px;
	cursor: pointer; }
	.burgermenu .bars1, .burgermenu .bars2, .burgermenu .bars3 {
		width: 30px;
		border-radius: 2px;
		height: 3px;
		margin-bottom: 5px;
		background-color: #fff; }
