h1 {
	font-weight: 800;
	font-size: 47px;
	line-height: 65.2px;
	color: #14151c;
	font-family: "Poppins", sans-serif; }

h2 {
	font-weight: 600;
	font-size: 34px;
	line-height: 41.5px;
	color: #14151c;
	font-family: "Poppins", sans-serif; }

h3 {
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	color: #14151c;
	font-family: "Poppins", sans-serif; }

h4 {
	font-weight: 600;
	font-size: 17px;
	line-height: 20px;
	color: #14151c;
	font-family: "Poppins", sans-serif; }

h5 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #A00000;
	letter-spacing: 2.5px;
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px; }

p {
	font-weight: 400;
	font-size: 17px;
	line-height: 24px;
	color: #494949;
	font-family: "Source Serif", sans-serif; }

p.big-p {
	font-weight: 400;
	font-size: 20px;
	line-height: 33px;
	color: #494949;
	font-family: "Source Serif", sans-serif; }

a {
	letter-spacing: 1px; }

a.main {
	font-weight: 600;
	font-size: 17px;
	line-height: 24px;
	font-family: "Poppins", sans-serif;
	display: inline-block;
	text-decoration: none;
	color: #4141da;
	transition: all 0.4s ease; }
	a.main:hover {
		color: #2975F6 !important; }
		a.main:hover svg {
			stroke: #2975F6 !important; }
	a.main svg {
		margin-left: 10px;
		line-height: 28px;
		vertical-align: middle;
		display: inline-block;
		color: #4141da;
		stroke: #4141da;
		transition: all 0.4s ease; }

a.big {
	font-size: 21px;
	line-height: 27px;
	font-weight: 800; }

a.bg {
	color: #ffffff;
	background: linear-gradient(67.5deg, #ffffff -500%, #2975f6 100%);
	padding: 11px 41px;
	border-radius: 4px;
	font-weight: 600; }
	a.bg:hover {
		color: #ffffff !important;
		background-color: #A8844C !important; }
